body {
	background-color: #7F6854;
}	
h1 {
	color: #2E261E;
}
h3 {
	color: #7F6854;
}
a{
	color: #2E261E;
}

#header{
	width:100%;
	background-color: #7F6854;
	clear:both;
} 
.headerel {
	height: 70px;
	width:100px;
	float:left;
}


.pmenu {
	width: 150px;
	float: left;
	text-align: left;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.clear {
	clear:both;
}


#menu{
	float: left;
	padding: 1em 1em 1em 1em;
	background-color: #DBCDAD;
	width:250px;
	vertical-align: top; 
	color: #2E261E;
	margin: 5px;
	min-height:800px;
}
.container{
	position: relative;
	background-color: #7F6854;
	overflow: hidden;
}
#content{
	margin:5px 5px 5px 300px;
	padding: 1em 1em 1em 1em;
	background-color: #FFF5CF;
	vertical-align: top; 
	color: #2E261E;
	min-height:800px;
}

#footer {
	width:100%;
	border-top: 1px solid #2E261E;
	margin-top: 15;
	background-color: #7F6854;
	color: #3D3228;
	padding: 1em 2em 1em 1em;
	font-size: 80%;
	text-align: center;
	clear:both;
}


