{% extends "categories.html" %}

{% block menu %} {{ block.super }} {% endblock %}


{% block content %}
	<h3>Книги категории {{ area.area_name }}:</h3>
	<table>
		<tr>
			<th>Название</th>
			<th>Издательство</th>
			<th>Уникальный номер*</th>
			<th>Наличие</th>
		</tr>
		{% for book in books %}
			<tr>
				<td><a href="/library/books/{{ book.pk }}/">{{ book.book_name }}</a></td>
				<td>{{ book.publisher }}</td>

				<td>{{ book.pk }}</td>
				<td>{% if book.book_in_stock_count %}Есть в наличии{% else %}Нет в наличии{% endif%}</td>
			</tr>
		{% endfor %}
	</table>

<p>* Для получения книги назовите этот номер сотруднику библиотеки.</p>

{% endblock %}



{% comment %}

{% block content %}
  <h1>Выберете интересующую категорию: </h1>
  {% for e in form.non_field_errors %}
    <div class="alert">{{ e }}</div>
  {% endfor %}
  
  <div class="areas_list">
    <form method="post" action="/cathegory/">
      {% csrf_token %}
        {% for field in form %}
          <div class="form-group{% if field.errors %} alert{% endif %}">
            <div class="form-label">
              {{ field.label }}
            </div>
            <div class="form-field">
              {{ field }}
            </div>
            {{ field.errors }}
          </div>
        {% endfor %}
      <button type="submit" class="btn">Ask this!</button>
    </form>
  </div>
{% endblock %}

{% endcomment %}
