{% extends "base_2col.html" %}

{% block menu %}
	<h3><a class=text href="/library/">В начало</a></h3>
	<h3>Категории:</h3>
	<ul>
		
		{% for area in areas %}
		<li><a class=text href="/library/category/{{ area.pk }}/">{{ area.area_name }}</a></li>
		{% endfor %}
		
	</ul>
	<h3><a class=text href="/library/login/">Войти в систему</a></h3>
	
	<form action="/library/search/" method="get">
	<input type="text" name="q">
	<input type="submit" value="Найти категорию">
    </form>
{% endblock %}


{% block content %}
	<h3>Добро пожаловать!</h3>
	<h3>Пожалуйста, выберете интересующую категорию в меню слева.</h3>
		
{% endblock %}

