{% extends "staff_s-page.html" %}

{% block menu %}
	<h3><a class=text href="/library/staff/">В начало</a></h3>
	<h3><a class=text href="/library/logout/">Выйти</a></h3>
	<p>&nbsp;</p> 
	<a class=text href="/library/s/readers">Все читатели</a><br><br>
	<a class=text href="/library/s/bad_readers">Читатели, не вернувшие книги в срок</a><br><br>
	<a class=text href="/library/s/statistics">Статистика спроса</a><br><br>
{% endblock %}


{% block content %}
	<h3>Вы вошли как сотрудник абонемента!</h3>
		
{% endblock %}

