{% extends "staff_s-page.html" %}

{% block menu %}
	<h3><a class=text href="/library/staff/">В начало</a></h3>
	<h3><a class=text href="/library/logout/">Выйти</a></h3>
	<p>&nbsp;</p> 
	<h3>Оформление поступивших книг:</h3>
		<ul>
			<li><a class=text href="/library/s/add-books">Новая книга</a></li>
			<li><a class=text href="/library/s/add-bookcopies">Добавить экземпляры к существующей</a></li>
		</ul>
	<h3><a class=text href="/library/s/write-off">Списание и утилизация книг</a></h3><br><br>
{% endblock %}


{% block content %}
	<h3>Вы вошли как управляющий!</h3>
		
{% endblock %}

