{% extends "base_2col.html" %}

{% block menu %}
	<h3><a class=text href="/library/staff/">В начало</a></h3>
	<h3><a class=text href="/library/logout/">Выйти</a></h3>
		
{% endblock %}


{% block content %}
	<h3>Добро пожаловать!</h3>
	<h3>Приступить к обязанностям:</h3>
	<ul>
		<li><a class=text href="/library/s/lib/">Сотрудника абонемента</a></li>
		<li><a class=text href="/library/s/lib/">Сотрудника читального зала</a></li>
		<li><a class=text href="/library/s/man/">Управляющего</a></li>
	</ul>
		
{% endblock %}

