{% extends "manager_s-page.html" %}

{% block menu %}
	{{ block.super }}
{% endblock %}


{% block content %}
	<h3>Удалить экземпляры книг:</h3>
	
	
	<table>
		<tr>
			<th>Название книги</th>
			<th>ISBN</th>
			<th>Количество книг</th>

			<th>Удалить экземпляры</th>

		</tr>
		{% for book in books %}
			<tr>
				<td><a href="/library/books/{{ book.pk }}/"> "{{ book.book_name }}"</a></td>
				<td>{{ book.isbn }} </td>
				<td>{% if book.book_count %} {{ book.book_count }} {% else %} 0 {% endif %}</td>
				<td>
			
					<form action="/library/s/del-book/copies/" method="get">
						<input type="button" value="Экземпляры" onClick='location.href="/library/s/del-book/copies/{{ book.pk }}"'>
					</form>
					
				</td>
			</tr>
		{% endfor %}
	</table>


	
		
{% endblock %}

